<div class="content">
    <h2>Notifications</h2>
    <div class="notification-list" *ngFor="let notification of notifications">
        <div class="notification" (click)="toggleNotification(notification)">
            <div class="notification-status">
                <div *ngIf="notification.status ==='new'" class="new-notification">
                    <i class="fas fa-circle"></i>
                </div>
            </div>
            <div class="notification-date">{{notification.date}}</div>
            <div class="notification-title">{{notification.title}}</div>
            <div class="notification-angle"><i class="fas fa-angle-down"></i></div>
        </div>
        <div 
            *ngIf="readItem === notification.title" 
            class="notification-description">
            <div class="notification-delete">
                <div class="delete-button" (click)="deleteNotification(notification)">Delete</div>
            </div>
            <div class="description-content" innerHTML="{{notification.desc}}">
        </div>
    </div>
</div>